.content__card {
    margin-bottom: 30px; /* Make sure the margin-bottom of the last card on the page is zero!! */
}

.flex-join {
    justify-content: space-around;
/*    border: solid 1px rgba(255, 0,0,0.5);*/
}

.join__item {
    width: 400px;
/*    border: solid 1px rgba(0,0,0,0.5);*/
}

h2.join {
    font-size: 30px;
    margin: 0;
    color: dimgray;
    font-style: oblique;
    text-align: left;
}

p.join {
    margin-top: 0;
    text-indent: initial;
    text-align: justify;
}

@media only screen and (max-width:1400px) {
    .join__item {
        width: 350px;
    }
    
    p.join {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1240px) {
    .join__item {
        width: 320px;
    }
    
    h2.join {
        font-size: 26px;
    }
    
    p.join {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1115px) {
    .join__item {
        width: 290px;
    }
    
    p.join {
        font-size: 16px;
    }
}

.card__officers {
    margin-bottom: 0; /* Since this is the last thing before the footer, and I already gave this card a margin-bottom of 30px with all the other cards to save reusing css rules */
}

.officers__item {
    margin-top: 20px; /* h1 margin and these margins don't collapse b/c these are inside the flex-container */
    border-radius: 8px;
    text-align: center;
    width: 40%;
/*    border: solid 1px black;*/
    position: relative;
}

.officers__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: box-shadow 0.35s ease;
}

.officers__avatar:hover {
    box-shadow: 0px 0px 25px black;
}

span.officers__name {
    display: block;
    font-weight: 300;
    font-size: 40px;
    line-height: 80%;
    margin-top: 20px;
}

span.officers--position {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-style: oblique;
    font-size: 20px;
    text-transform: uppercase;
    color: dimgray;
}

.officers__links {
    width: 20px;
    height: 20px;
    margin: 5px;
}