#notmenu { /* Everything that isn't in the fixed menu */
    width: 97%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-weight: 100;
    font-size: 50px;
    text-transform: uppercase;
}

.header--bold {
    font-weight: 400;
}

.card__about, .card__join, .card__officers {
    width: 100%;
    border-radius: 7px;
    box-shadow: 2px 2px 7px;
    background: white;
    margin-bottom: 50px;
}

.card__about {
    height: 30%;
}

.card__join {
    height: 30%;
}

.card__officers {
    height: 60%;
    margin-bottom: 0; /* Since this is the last thing before the footer, and I already gave this card a margin-bottom of 30px with all the other cards to save reusing css rules */
}

footer {
    color: slategray;
    font-size: 16px;
    line-height: .5;
    margin-top: 20px;
}
