.card__about, .card__join, .card__officers {
    width: 100%;
    border-radius: 7px;
    box-shadow: 2px 2px 7px;
    background: white;
    margin-bottom: 50px;
    padding: 7px 10px;
}

.card__about {
    height: 60%;
}

.card__join {
    height: 30%;
}

.card__officers {
    height: 80%;
    margin-bottom: 0; /* Since this is the last thing before the footer, and I already gave this card a margin-bottom of 30px with all the other cards to save reusing css rules */
}