.event {
    width: 22%;
    padding-top: 22%;
    min-width: 230px;
    min-height: 230px;
    max-width: 400px;
    max-height: 400px;
    border-radius: 7px;
    box-shadow: 2px 2px 7px;
    background: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 1%;
    font-size: 24px;
}

.event div {
    width: 75%;
    height: 75%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 12.5%;
    left: 12.5%; /* top and left centers the div inside the .event element because we KNOW that the div will be the .event element scaled by 0.5 */
    text-align: center;
    padding-top: 37.5%; /* To vertically center the text inside the div. Is 37.5% because the percentage is referring to the parent of this element, the .event element, so that it is actualy 50% of the div which is 75% of the .event */
    border-radius: 2px;
}

.event h2 {
    font-weight: 100;
    color: white;
/*    background: rgba(255, 0,0,0.5);*/
    transform: translateY(-50%); /* To complete centering the text inside the div */
}

.event__1 {background: blueviolet;}
.event__2 {background: cornflowerblue;}
.event__3 {background: lawngreen;}
.event__4 {background: orangered;}