@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

#slide-span {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden; /* (The padding to center the nav circles causes a lot of white space that makes horizontal scrolling*/
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10; /* Sets all slides to initially have z-index of bottom*/
    display: block;
}

.slide-1 {background: red; display: none;} /* Sets slide 1 to have z-index of top when the page loads*/
.slide-2 {background: green; z-index: 13; opacity: 1;}
.slide-3 {background: blue;}

#slide-nav-span {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    z-index: 13; /* Needs to be at least 13 to be above all that slideshow jank*/
}

.slide-nav {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 0 5px;
}

