* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

#slide-container {
    width: 100%;
    height: 70%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

#slide-span {
    position: absolute;
    width: 300%;
    height: 100%;
    left: 0;
    -moz-transition: left 2s;
    -webkit-transition: left 2s;
    transition: left 1.5s;
}

.slide {
    width: 33.3333333%; /* This shit is jank but it works... */
    height: 100%;
    float: left;
    display: inline-block;
}

.slide-1 {background: red;}
.slide-2 {background: green;}
.slide-3 {background: blue;}

#slide-left, #slide-right {
    color: white;
    font-size: 40px;
    width: 40px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding-bottom: 6px;
    cursor: pointer;
    transition: background 1s, left 1s, right 1s;
}

#slide-right:hover {
    background: rgba(0,0,0,0.6);
    right: -4px;
}

#slide-left:hover {
    background: rgba(0,0,0,0.6);
    left: -4px;
}

#slide-right {
    right: -10px;
}

#slide-left {
    left: -10px;
    text-align: right;
}

#slide-right:active, #slide-left:active {
    transition: background 0s;
    background: rgba(0,0,0,0.8);
}

#slide-nav-span {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
}

.slide-nav {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 2px 2px 3px;
    -moz-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 1s;
}

.slide-nav:hover {
    background: darkgray;
}

.slide-nav:active {
    background: dimgray;
}