/* This CSS document is mostly ruled chronologically, in order with the appearance of elements in the HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background: #F5F5F5;
/*    background: url("pixel_weave.png");*/
}

header {
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
/*    border: solid 1px rgba(0,0,0,0.5);*/
    margin: 0 1.5%; /* The bottom margin of this collapses with the top margin of #content to be 20px. The side margins center this and makes the width 97%, aligned with content */
    text-align: center;
}

.header__home {
    font-size: 140px;
}

.header--bold {
    font-weight: 400;
}

.headernav__list {
/*    border: solid 1px rgba(255,0,0,0.5);*/
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.headernav__item {
    display: inline-block;
    list-style: outside none none; /* Should look into this and start using! */
/*    border: solid 1px rgba(0,0,0,0.5);*/
}

.headernav__link {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 3px;
}

.headernav__list a:before {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    bottom: 0;
    display: block;
    width: 0%;
    height: 2px;
    content: "";
    background-color: black;
}

.headernav__list a:hover:before {
    opacity: 1;
    width: 100%;
}

nav {
    width: 100%;
    background: white;
    padding: 3px 10px;
    position: fixed;
    z-index: 10;
    box-shadow: 2px 2px 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
}

.nav__list {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    list-style: none;
}

.nav__item { /* All the nav items besides "Ridge Pro" */
    margin-right: 30px;
    padding-bottom: 3px;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .2s;
}

.nav__home { /* (the RidgePro logo) */
    text-transform: uppercase;
    margin-right: 30px;
    cursor: pointer;
    font-weight: 100;
}

.nav__link:link, .nav__link--home:link {
    text-decoration: none;
    color: black;
}

.nav__link:visited, .nav__link--home:visited {
    text-decoration: none;
    color: black;
}

.nav__link:hover {
    color: #515a62;
}

.nav__link:focus { /* Needs javascript! */
    border-bottom: 1px solid slategray;
    color: #515a62; /* To ensure it looks like it's active state as the browser loads the next page */
}

.nav__link:active {
    border-bottom: 1px solid slategray;
}

.nav__link--current:link, .nav__link--current:visited {
    border-bottom: 1px solid slategray;
    color: #515a62;
}

#ridgepro-words { /* Making just the "Ridge Pro" bigger than the rest of the nav */
    font-size: 60px;
}

.nav__link--bold { /* Making "Ridge" bold */
    font-weight: 400;
}

#content { /* Everything that isn't in the fixed nav */
    width: 97%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

h1 {
    font-weight: 100;
    text-transform: uppercase;
}

.card {
    width: 100%;
    border-radius: 7px;
    box-shadow: 2px 2px 7px;
    background: white;
    padding-top: 20px; /* This should be the same on all other pages (besides home page) */
}

footer {
    color: slategray;
    font-size: 16px;
    line-height: .5;
    margin-top: 20px;
}