@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

#slide-container { /* The window the slides are shown through */
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: relative;
    top: 0;
    left: 0;
    overflow: scroll;
}

#slide-span { /* All the slides put in one slider */
    width: 300%;
    height: 100%;
}

.slide { /* All the slides */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: inline-block;
}

.slide-1 {background: red; left: 0;}
.slide-2 {background: green; left: 100%;}
.slide-3 {background: blue; left: 200%;}

#slide-nav-span {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    z-index: 13; /* Needs to be at least 13 to be above all that slideshow jank*/
}

.slide-nav {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 0 5px;
}

